<h1>Xoşgəldin Mr.pakog & Mr.Wahin</h1>
<a href="/admin/game/uploadwithai">
    <h2>
        Oyun Yüklə</a>

        <span class="no-underline" style="background-color: #66b703; color: white; border-radius: 8px; padding: 2px 8px; font-size: 0.8em; margin-left: 8px;">
            AI
        </span>
    </h2>
<a href="/admin/game/update"><h2>Oyun Məlumatları Güncəllə</h2></a>