<form action="/admin/login" method="post" enctype="application/x-www-form-urlencoded" class="d-flex">
 <div class="row">
  <div class="col-10">

    <input class="form-control" placeholder="Admin Hash" id="hash" value="{{game.gameplayEmbed}}" name="hash" type="text" aria-label="hash">


    </div>


    <div class="col-2">
        <button class="btn btn-outline-success" type="submit">Giriş</button>

    </div>
    </div>



</form>