        <div class="card text-white bg-dark mb-3 border-primary">
      <div class="card-header border-primary lexend-deca-title fw-bold" style="height: 50px">
<i class="bi bi-info-lg"></i> KATEQORİYALAR
      </div>
  <nav>
  <ul class="list-group list-group-flush lexend-deca-title fw-bold">
 <a class="no-underline" href="/kateqoriya/populyar"><li class="list-group-item category-item text-white bg-dark">POPULYAR OYUNLAR</li></a>
 <a class="no-underline" href="/kateqoriya/aciq-dunya"><li class="list-group-item category-item text-white bg-dark">AÇIQ DÜNYA OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/aksiyon"><li class="list-group-item category-item text-white bg-dark">AKSİYON OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/macera"><li class="list-group-item category-item text-white bg-dark">MACƏRA OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/fps"><li class="list-group-item category-item text-white bg-dark">FPS OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/sag-qalma"><li class="list-group-item category-item text-white bg-dark">SAĞ QALMA OYUNLAR</li></a>
 <a class="no-underline" href="/kateqoriya/idman"><li class="list-group-item category-item text-white bg-dark">İDMAN OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/yaris"><li class="list-group-item category-item text-white bg-dark">YARIŞ OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/strategiya"><li class="list-group-item category-item text-white bg-dark">STRATEGİYA OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/simulasiya"><li class="list-group-item category-item text-white bg-dark">SİMULASİYA OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/doyus"><li class="list-group-item category-item text-white bg-dark">DÖYÜŞ OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/qorxu"><li class="list-group-item category-item text-white bg-dark">QORXU OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/platform"><li class="list-group-item category-item text-white bg-dark">PLATFORM OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/erken-giris"><li class="list-group-item category-item text-white bg-dark">ERKƏN GİRİŞ OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/vr"><li class="list-group-item category-item text-white bg-dark">VR OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/rpg"><li class="list-group-item category-item text-white bg-dark">RPG OYUNLARI</li></a>
 <a class="no-underline" href="/kateqoriya/dlc"><li class="list-group-item category-item text-white bg-dark">ƏLAVƏ PAKETLƏR (DLC)</li></a>

  </ul>
    </nav>
  </div>
