
<div class="card text-white bg-dark mb-3 border-primary">

<div class="row  d-flex justify-content-center align-items-center vh-50">
<div class="col">

     <a href="/discord" target="_blank" ><img src="/img/discord.webp" class="card-img-top" alt="discord adresi"></a>

</div>
</div>

</div>
