<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<footer class="mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3">
        <h5>Haqqımızda</h5>
        <p>Azərbaycanda ilk torrent oyun vebsaytı.</p>

        <p>Contact <a class="go-red" href="mailto:iamphcoog@gmail.com">iamphcoog@gmail.com</a></p>
      </div>
      <div class="col-md-2 mb-3">
        <h5>Əlçatan keçidlər</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-decoration-none text-white go-red">Əsas səhifə</a></li>
          <li><a href="/nece-yukleyek" class="text-decoration-none text-white go-red">Tez-tez verilən sualllar</a></li>
        </ul>
      </div>
            <div class="col-md-3 mb-3">
        <h5>İndi Yoxla</h5>
        <ul class="list-unstyled">
          <li><a href="/gta-5-grand-theft-auto-v" class="text-decoration-none text-white go-red">GTA V</a></li>
          <li><a href="/cyberpunk-2077" class="text-decoration-none text-white go-red">Cyberpunk 2077</a></li>
          <li><a href="/fifa-22" class="text-decoration-none text-white go-red">FIFA 22</a></li>
          <li><a href="/the-last-of-us-part-ii" class="text-decoration-none text-white go-red">The Last Of Us - Part II</a></li>
        
        </ul>
      </div>
      {{!-- <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <ul class="list-inline social-icons">
          <li class="list-inline-item"><a href="#" class="text-dark"><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-dark"><i class="bi bi-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-dark"><i class="bi bi-instagram"></i></a></li>
        </ul>
      </div> --}}
    </div>

  </div>
</footer>