
<div class="card text-white bg-dark mb-3 border-primary">

<div class="row  d-flex justify-content-center align-items-center vh-50">
<div class="col">

     <a href="/oyun-istek" ><img src="/img/oyunistek.webp" class="card-img-top" alt="oyun istekleri"></a>

</div>
</div>

</div>
