        <div class="card text-white bg-dark mb-3 border-primary">
            <div class="row g-2">
                {{!-- Repeat this block for each image --}}
                <div class="col-6 col-lg-2">
                    <div class="card border-secondary text-center bg-warning lato-regular h-100">
                        <a href="/gta-5-grand-theft-auto-v">
                            <img
                                src="https://i.imgur.com/P25rknJ.jpeg"
                                class="card-img-top game-cover"
                                style="height: 190px; object-fit: cover;"
                            />
                        </a>
                    </div>
                </div>
                {{!-- End repeat --}}
                {{!-- Add 5 more .col-2 blocks for 6 images in total --}}
                <div class="col-6 col-lg-2">
                    <div class="card border-secondary text-center bg-warning lato-regular h-100">
                        <a href="/god-of-war-ragnark">
                            <img
                                src="https://cdn2.steamgriddb.com/grid/fd93fd1de50e084dd7d3b0b9f6950450.png"
                                class="card-img-top game-cover"
                                style="height: 190px; object-fit: cover;"
                            />
                        </a>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="card border-secondary text-center bg-warning lato-regular h-100">
                        <a href="/the-last-of-us-part-ii">
                            <img
                                src="https://cdn2.steamgriddb.com/grid/0230061ed918ad8c48635cd123e28eff.png "
                                class="card-img-top game-cover"
                                style="height: 190px; object-fit: cover;"
                            />
                        </a>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="card border-secondary text-center bg-warning lato-regular h-100">
                        <a href="/red-dead-redemption-2">
                            <img
                                src="https://i.imgur.com/AV0eCmk.jpeg"
                                class="card-img-top game-cover"
                                style="height: 190px; object-fit: cover;"
                            />
                        </a>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="card border-secondary text-center bg-warning lato-regular h-100">
                        <a href="/elden-ring-1">
                            <img
                                src="https://cdn2.steamgriddb.com/grid/b7dc60f5a597d2a0687c2c43a3cd3417.jpg"
                                class="card-img-top game-cover"
                                style="height: 190px; object-fit: cover;"
                            />
                        </a>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="card border-secondary text-center bg-warning lato-regular h-100">
                        <a href="/resident-evil-village">
                            <img
                                src="https://cdn2.steamgriddb.com/grid/da61fe8e5e93df7e3d379918988303e1.png"
                                class="card-img-top game-cover"
                                style="height: 190px; object-fit: cover;"
                            />
                        </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>