<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0; URL='https://discord.gg/wdVdtzSQr8'" />
</head>

<body>
      <div class="card text-white bg-dark mb-3 border-primary">
  <div class="card-body">
Səhifəyə yönləndirilirsiniz. Discorda qoşulmaq üçün <a  rel="noreferrer nofollow" href="https://discord.gg/wdVdtzSQr8">buraya klikləyin</a>.

  </div>
</div>
</body>
</html>
